/* Root & Universal Selectors */

:root {
    background-color: #e5fae9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

/* Quiz button styles */

.b1, .b2, .b3, .b4 {
    padding: 2px;
    width: 45%;
    text-align:left;
}

/* Container for page contents */

.container {
    border: 2px solid #333;
    width: 30%;
    margin: 20px;
    box-shadow: 5px 8px;
    margin-left: auto;
    margin-right: auto;
}


.questionBox {
    border: 2px solid #333;
    width: 30%;
    margin: 20px;
    
}

.container h1 {
    padding: 15px;
    font-size: 40px;
}

.container h2 {
    font-size: 22px;
    padding: 10px;
    text-align: left;
}

li {
    padding: 10px;
}




footer {
    padding: 20px;
}