/* Root & Universal Selectors */

:root {
    background-color: #e5fae9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

/* Header section */

.header {
    margin: 2%;
    padding: 20px;
}

.highscores {
    max-width: 100%;
}

.highscoresLink {
    float: left;
}

.timer {
    float: right;
}

/* Quiz button styles */

.b1, .b2, .b3, .b4 {
    padding: 3px;
    width: 45%;
    text-align:left;
}

/* Next button */

.nextBtn, .nextBtn1, .nextBtn2 {
    margin: 10px;
    padding: 3px;
    margin-left: 35%;
    display: none;
}

/* Final Score  & Form */

.finalScoreText {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.formInitials, .formBox {
    margin-left: 30%;
}


/* Score Page Buttons */

.visitHighscores, .startAgain {
    margin-bottom: 10px;
    margin-left: 60px;
    padding: 3px;
    display: inline-block;
}

/* Correct/Incorrect */

.correct, .correct1, .correct2, .correct3 {
    color: green;
    display: none;
}

.incorrect, .incorrect1, .incorrect2, .incorrect3 {
    color: red;
    display: none;
}



/* Container for content on page load */

.containerStart {
    width: 30%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

.welcomePage {
    border: 2px solid #333;
    box-shadow: 5px 8px;
}

.welcomePage button {
    display: flex;
    margin-left: 40%;
    margin-bottom: 10px;
    padding: 2px;
}

/* Container for quiz questions */

.container {
    width: 30%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.container p {
    margin: 5%;
}

.container h1 {
    padding: 15px;
    font-size: 40px;
}

.container h2 {
    font-size: 22px;
    padding: 10px;
    text-align: left;
}

li {
    padding: 10px;
}

.question {
    border: 2px solid #333;
    box-shadow: 5px 8px;
    max-width: 400px;
    min-width: 400px;
    display: none;
}



footer {
    padding: 20px;
}


/* Highscores styling page */

.highscoresList {
    border: 2px solid #333;
    box-shadow: 5px 8px;
}

.highscoresList ol {
    padding: 10px;
}